.manageruser-container{
    padding: 10px;
    .title{

    }
    .users-content {
        margin: 15px 0 ;
        .btn-add-new{
            .button{
                text-align: center;
            }
        }
    }
}